<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>电子商城-查询列表</title>
		<script src="../../resource/js/jquery-1.8.3.min.js"></script>
		<script src="../../resource/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="../../resource/css/bootstrap.css">

		<!--if ie-->
		<script src="../../resource/js/html5shiv.js"></script>
		<script src="../../resource/js/respond.js"></script>
		<!--endif-->
		<link rel="stylesheet" href="style.css">
	</head>

	<body class="body">
		<form class="form-login">
			<h2 class="form-login-heading">login</h2>
			<div class="login-wrap">
			</div>

		</form>
		<script type="text/javascript" src="../../resource/js/jquery.backstretch.min.js"></script>
		<script>
			$.backstretch("../../resource/img/instagram.jpg", {
				speed: 500
			});
		</script>
	</body>

</html>