* {
	margin: 0;
	padding: 0;
}

a {
	display: block;
	color: #aaa;
	padding: 10px 10px 10px 25px;
}

ul {
	list-style: none;
}

a:hover,
a:focus,
a:active {
	color: #000;
	background-color: #e7e7e7;
	text-decoration: none;
	outline: none;
}

.left-mar {
	margin-left: 22px;
}

.sidebar {
	display: block;
	float: left;
	width: 250px;
	background: #333;
}

.content {
	display: block;
	overflow: hidden;
	width: auto;
}

.sidebar-nav {
	background-image: -webkit-linear-gradient(left, color-stop(#e7e7e7 10px), color-stop(#e7e7e7 10px));
	background-image: linear-gradient(to right, #e7e7e7 10px, #e7e7e7 10px);
	background-repeat: repeat-x;
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff222222', GradientType=1);
}

.sidebar-nav-item,
.sidebar-nav-item-icon {
	padding-left: 5px;
}

@media only screen and (min-width:768px) {}