<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>管理网站</title>
		<script src="../../resource/js/jquery-1.8.3.min.js"></script>
		<script src="../../resource/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="../../resource/css/bootstrap.css">
		<!--if ie-->
		<script src="../../resource/js/html5shiv.js"></script>
		<script src="../../resource/js/respond.js"></script>
		<!--endif-->
		<link rel="stylesheet" href="style.css">
		<script src="index.js"></script>
	</head>

	<body class="body">
		<div class="header">
			<a href="#" class="pull-right title">right-menu</a>
		</div>
		<div class="aside">
			<label class="logo">logo</label>
			<div class="aside-in">
				<ul class="list-group">
					<a href="#" class="list-group-item">
						<label class="glyphicon glyphicon-cloud"></label>
						<span class="a-span">left-menu 1</span>
					</a>
					<a href="#" class="list-group-item">
						<label class="glyphicon glyphicon-cloud"></label>
						<span class="a-span">left-menu 2</span>
					</a>
					<a href="#" class="list-group-item">
						<label class="glyphicon glyphicon-cloud"></label>
						<span class="a-span">left-menu 3</span>
					</a>
					<a href="#" class="list-group-item">
						<label class="glyphicon glyphicon-cloud"></label>
						<span class="a-span">left-menu 4</span>
					</a>
				</ul>
			</div>
			<ul>
				<a href="#" id="contract" class="list-group-item contract">
					<label class="glyphicon glyphicon-cloud"></label>
					<span class="a-span">contract</span>
				</a>
			</ul>
		</div>
		<div class="main-content">
			<div class="container-fluid">
				<div class="col-xs-6 content">content</div>
			</div>
		</div>
	</body>

</html>