<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>地图</title>
		<link rel="stylesheet" href="../../resource/css/bootstrap.css">
		<script src="../../resource/js/jquery-1.8.3.min.js"></script>
		<script src="../../resource/js/bootstrap.min.js"></script>

		<!--if ie-->
		<script src="../../resource/js/html5shiv.js"></script>
		<script src="../../resource/js/respond.js"></script>
		<!--endif-->
		<link rel="stylesheet" href="style.css">
	</head>

	<body class="body">
		<div class="box left-top"></div>
		<div class="box left-bottom"></div>
		<div class="box center"></div>
		<div class="box right-top"></div>
		<div class="box right-bottom"></div>
		<div class="main">
		</div>
	</body>

</html>